# virtual env
igg_venv/

# log messages files 
*messages*
static/logFiles/*messages*

# text permutations files
z*permutFile*.*
static/proj_enigmaGame_scripts/z*permutFile*.*

# zip files
*.zip
static/py_excercises/20230215-PrototypeScript-ZipFunc/*.zip

# files with the background result
list*.txt
list*.csv

# txt files
*.txt

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# .pyc
*.pyc

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
