<!--  navegation html -->
<nav class="navbar navbar-default" style="background-color: rgb(3, 3, 84);">
    <div class="container nav-disp-rows-cent" style="width:95%;  ">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand disp-rows-cent" style="width:50px; padding-top:7px; margin-right:10px; color:white; ">
          <img width="30px" height="35px" style="border-radius: 10px;"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Vitoria_-_Huertas_de_Olarizu_-_Girasol_01.jpg/149px-Vitoria_-_Huertas_de_Olarizu_-_Girasol_01.jpg" >
        </div>
        <span class="navbar-brand" style="color:white">iggPyBlog app</span>
        <!-- <a class="navbar-brand" href="" style="color:white">iggPyBlog app</a>  -->
      </div>
      <div id="navbar" class="collapse navbar-collapse" >
        <ul class="nav navbar-nav" >
          <li><a href="/home" style="color:rgb(255, 0, 0);">HOME</a></li>
          <li><a href="/course" style="color:#01fa05">COURSE</a></li>          
          <li><a href="/articles" style="color:orange">ARTICLES</a></li>
          <li><a href="/excercises" style="color:rgb(251, 79, 6)">EXCERCISES</a></li>
          <li><a href="/project" style="color:rgb(239, 251, 6)">PROJECTS</a></li>
          <li><a href="/about" style="color:white">ABOUT</a></li>
          <li><a href="/" style="color:yellow">LOGOUT</a></li>
        </ul>        

      </div>
      
    </div>
  </nav>