<!--  navegation html -->
<nav class="navbar navbar-default" style="background-color: rgb(3, 3, 84);">
    <div class="container" style="border: 1px solid yellow;">
      <div class="navbar-header" style="border: 1px solid white; margin-right:50px;">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" style="color:white">iggPyBlog app</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse" >
        <ul class="nav navbar-nav" style="border: 1px solid orange;">
          <li><a href="/" style="color:rgb(199, 14, 14);">Home</a></li>
          <li><a href="/about" style="color:yellowgreen">About</a></li>
          <li><a href="/articles" style="color:orange">Articles</a></li>          
        </ul>        
      </div>
      
    </div>
  </nav>