<!--  navegation html -->
<nav class="navbar navbar-default" style="background-color: rgb(3, 3, 84);">
    <div class="container disp-cent" style="width:95%">
  
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color:white">iggPyBlog app</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse" >
        <ul class="nav navbar-nav" >
          <li><a href="/" style="color:rgb(255, 0, 0);">HOME</a></li>
          <li><a href="/course" style="color:#ff0055">COURSE</a></li>          
          <li><a href="/articles" style="color:orange">ARTICLES</a></li>
          <li><a href="/about" style="color:yellowgreen">ABOUT</a></li>

        </ul>        

      </div>
      
    </div>
  </nav>