/* CSS Document */

* {
	margin:  0px; 
	padding: 0px; 
	box-sizing:border-box;	
}

#mesuOverlay { 
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #00F;
	opacity: .05;
	width: 100%;
	z-index: 10;
}

#mesuBox {
	margin:auto;	
	width: 320px;
	height: auto;
	display: none;
	position: fixed;
	background: white;
	border: 2px #999999 solid; 	
	border-radius: 2px;
	z-index: 10;
	font-family: "Arial",  sans-serif;
}

#mesuBox div { 
/*	border-radius: 2px;
	margin:2px; */
	padding:2px;
}

#mesuBox div #mesuBoxHead { 
	height:25px;
	background:#d9d9d9; 
	padding: 2px; 
	color:#000;
	font-size: 14px; 
}

#mesuBox div #mesuBoxBody { 
	background: #bfbfbf;
	border: 1px solid #ccccff;		
	margin: 10px; 
	color: black; 
	font-size: 20px; 	
}

#mesuBox div #mesuBoxFoot  {
	height:40px;
/*	background:#d9d9d9;  */
	color:#00F;
	padding-bottom: 2px; 
/*	padding-right:10px; */
	text-align: right; 
}

#mesuBox button {
	margin-top:3px;	
	width:150px; 
	height:30px; 
/*	margin-top:1px;  */
	background-color: #f2f2f2; 
	border: 1px solid #ccccff;		
	color:black;
	border-radius: 10px;
	font-size: 15px;
}	
	
#mesuBox1 { 
	margin:0px;
}