{% extends 'layout.html' %}

{% block body %}

    <h1>ABOUT COURSE</h1>
    <div class="disp-rows-cent"  style="height:70vh;  margin: auto; margin-left:20px; ">

        <div style="width:15%; text-align: center; border:1px solid blue;">
            <p style="margin-top:10px;" onclick="document.getElementById('div_info').innerHTML = document.getElementById('bitakora').innerHTML">My Bitakora</p>            
            <p onclick="document.getElementById('div_info').innerHTML = document.getElementById('suggestions').innerHTML">Suggestions</p>
            <p style="margin-bottom:10px;" onclick="document.getElementById('div_info').innerHTML = document.getElementById('program').innerHTML">Program</p>    
        </div>

        <div id="div_info" style="width:80%; height:68vh; padding:10px; margin:auto; border: 10px solid rgb(120, 120, 252); border-radius:10px;"></div>

        <div id="bitakora" class="block_hide" style="display:none;">
            <p style="margin-top: 10px;font-size:25px; text-align: center;" ><a href="https://docs.google.com/document/d/1hIT46qJwzMoyma3dKn37S29hwzMxnleFOlgFaaXx0MU/edit?usp=sharing" target="_blank" title="bitakora of course">My Bitakora</a></p>
            <p style="font-size:16px; margin-left:10px; margin-right:10px;">
                Three years ago I worked on a exercise using python. I did it with a Venezuelan friend. We set out to make the game of life using python. In order not to forget the path I have taken, I enrolled in the introductory course to Python offered by Lanbide through the Nazareth Academy.<br><br>
                I had three ideas before the course, to choose from. The first was to make a database client using Python. The second, to make an app to evaluate the financial performance of leading companies. The third, to make a web page that, on the one hand, would be a kind of course log, in which some of the exercises carried out are presented, while on the other hand, it would develop a kind of console client to execute python programs, including an extra, made up of the Game of Life, and three exercises using Python's multithreading option.<br><br>
                The truth is that at first the challenge seemed demanding to me a lot, since having very little knowledge of Python, I would have to resort to the experience acquired in the course given by Alberto Mozo in Aulafor, where I developed a client in PHP to manage mysql ( mariaDb), a very simple version of phpmyadmin.<br><br>
                To keep a daily record of what was discussed in the course, I used Google Drive to record each day's notes and my contribution to the topic.<br><br> 
                <a href="https://docs.google.com/document/d/1hIT46qJwzMoyma3dKn37S29hwzMxnleFOlgFaaXx0MU/edit?usp=sharing" target="_blank" title="bitakora of course">This doc</a> also includes links to resources that I found interesting to delve into the points treated in class.<br>
                 

            </p>
            
        </div>

        <div id="suggestions" class="block_hide" style="display:none;">
            <p style="margin-top:10px; font-size:25px; text-align: center;" ><b>Suggestions</b></p>
            <p style="margin-top:10px; margin-left:10px; font-size:15px;">sug 1</p>        
        </div>

        <div id="program" class="block_hide" style="display:none;">
            <p style="margin-top:10px;font-size:25px; text-align: center;" ><a href="https://drive.google.com/file/d/1ZuwE33-Emid-ArhcHrQhKrHE1klX_FS-/view?usp=sharing" target="_blank" title="bitakora of course"><b>Course Program</b></a></p>
            <p><a href="https://drive.google.com/file/d/1ZuwE33-Emid-ArhcHrQhKrHE1klX_FS-/view?usp=sharing" target="_blank" style="padding: 5px; color:blue; text-decoration: none;">Course Program</a></p>        
        </div>

    </div>


{% endblock %}