{% extends 'layout.html' %}

{% block body %}

    <h1>THE EXPERIENCE</h1>
    <div class="disp-rows-cent"  style="height:70vh;  margin: auto; margin-left:20px; ">

        <div style="width:15%; text-align: center; border:1px solid blue;">
            <p style="margin-top:10px;" onclick="document.getElementById('div_info').innerHTML = document.getElementById('the_experience').innerHTML">The Experience</p>            
            <p style="margin-top:10px;" onclick="document.getElementById('div_info').innerHTML = document.getElementById('bitakora').innerHTML">My Bitakora</p>            
            <p onclick="document.getElementById('div_info').innerHTML = document.getElementById('suggestions').innerHTML">Suggestions</p>
            <p onclick="document.getElementById('div_info').innerHTML = document.getElementById('my_links').innerHTML">Some interesting links</p>
            <p style="margin-bottom:10px;" onclick="document.getElementById('div_info').innerHTML = document.getElementById('program').innerHTML">Program</p>
        </div>

        <div id="div_info" style="width:80%; height:68vh; padding:10px; margin:auto; border: 10px solid rgb(120, 120, 252); border-radius:10px; overflow-y:scroll;" onload="loadBitakora()"></div>

        <div id="the_experience" class="block_hide" style="display:none;">
            <p style="margin-top:10px; font-size:25px; text-align: center;" ><b>My experience in the course</b></p>
            <p style="font-size:16px; margin-left:10px; margin-right:10px;">
                First of all, I must emphasize that the facility where we received the course was up to the challenge. On the other hand, the professor is a young person, who enjoys teaching, and who is concerned about keeping up with the news related to Python and the emerging programming web environments.<br><Br>
                The program covered many topics, which does not make it easy to understand some core elements. For example, spending only three days on object-oriented programming only allows you to see a small part of that world.<br><br>
                It is not easy for a professor to teach a course where there are different levels of programming and systems knowledge, and most likely, different expectations about the program.<br><br>
                In my particular case, I think I was able to meet the expectations that I set out to develop in the course. In addition, I had the support of the people at pythonanywhere, who quickly answered my questions about running code in the background.<br><br>
                In short, I was satisfied with the relationship between my expectations and the product I developed.<br>
        </p>
        </div>

        <div id="bitakora" class="block_hide" style="display:none;">
            <p style="margin-top: 10px;font-size:25px; text-align: center;" ><a href="https://docs.google.com/document/d/1hIT46qJwzMoyma3dKn37S29hwzMxnleFOlgFaaXx0MU/edit?usp=sharing" target="_blank" title="bitakora of course">My Bitakora</a></p>
            <p style="font-size:16px; margin-left:10px; margin-right:10px;">
                Three years ago I worked on a exercise using python. I did it with a Venezuelan friend. We set out to make the game of life using python. In order not to forget the path I have taken, I enrolled in the introductory course to Python offered by Lanbide through the Nazareth Academy.<br><br>
                I had three ideas before the course, to choose from. The first was to make a database client using Python. The second, to make an app to evaluate the financial performance of leading companies. The third, to make a web page that, on the one hand, would be a kind of course log, in which some of the exercises carried out are presented, while on the other hand, it would develop a kind of console client to execute python programs, including an extra, made up of the Game of Life, and three exercises using Python's multithreading option.<br><br>
                The truth is that at first the challenge seemed demanding to me a lot, since having very little knowledge of Python, I would have to resort to the experience acquired in the course given by Alberto Mozo in Aulafor, where I developed a client in PHP to manage mysql-mariadb, a very simple version of phpmyadmin.<br><br>
                To keep a daily record of what was discussed in the course, I used Google Drive to record each day's notes and my contribution to the topic.<br><br>
                <a href="https://docs.google.com/document/d/1hIT46qJwzMoyma3dKn37S29hwzMxnleFOlgFaaXx0MU/edit?usp=sharing" target="_blank" title="bitakora of course"><i>'Bitakora.doc'</i></a> also includes links to resources that I found interesting to delve into the points treated in class.<br><br>
                For reasons of time, the design of the web page emulates a blog, in which the content of the posts is inside several list of dictionaries related to the articles, excercises, LifeGame and Enigma tabs (article_data.py, excercise_data.py, EnigmaGame_data.py and LifeGame_data.py). Additionally, there is a tab for the sqlite based example.<br><br>
                For example, third post on EnigmaGame list is:<br>
                {<br>
                'id': 3,'author': 'Igg',date_created': '10-04-2023','source_url': '','section': 'Multiprocessing',<br>
                'title': 'Use of two or more CPUs within your PC',<br>
                'fileDirPath':'static/proj_enigmaGame_scripts/mpPoolManagerEnigmaRandom-vf.py',<br>
                'fileDirPath1':'static/proj_enigmaGame_scripts/mpPoolManagerEnigmaRandom-vf-1.py',<br> 
                'homework': 'text....','body': 'text....',<br> 
                'code_url': '/static/proj_enigmaGame_scripts/mpPoolManagerEnigmaRandom-vf.py',<br> 
                'zip_url':'/static/proj_enigmaGame_scripts/mpPoolManagerEnigmaRandom-vf.zip',<br> 
                'img': '/img /icons8-console-100.png'
                <br>}<br><br>
                Some fields of the dictionary are 'url' addresses, which will be called in the internal pages to which the navigation leads.<br><br>
                Another element of the design was to include three buttons to execute the python code related to the requested exercise and a button to access the code. The first option is to download a zip file containing the python code and a '.bat' file to run it from the folder where they are downloaded. The second option simulates a web console, in which you will see the execution of the script. And the third option is to run the script in the VSC console itself, used to activate the flask_app.py application.<br><br>
                To simulate the <i>'web console'</i>, I first run the selected python code in the background, and then, each line of the result is interpreted, so that it can be drawn on the web page via javascript.<br><br>
                Finally, I must comment that in order to document the obstacles that were being presented and the tasks to be done, two files are included in Github, 'z-bitakora.txt' and 'z-ToDo-date.txt'. They present the topics and links consulted for the search for solutions, and the tasks to be completed by a certain date.<br><br>
                Five important things remain pending: 1.- in the 'web console', simulate the python 'input command', in order to be able to run codes that ask the user for data before executing the operations; 2.- Create the function to write the warnings and/or errors in log files, in order to prevent them from appearing on the user's screen, except in the case of 'fatal errors', in which a friendly message is placed for the user explaining the situation and what to do in those cases; 3.- Use of "progressive bar" when click 'HTML button' to execute the py code in web page; 4.- Improve the css style to make the page really responsive; 5.- incorporate multi-language option.<br>  

            </p>
            
        </div>

        <div id="suggestions" class="block_hide" style="display:none;">
            <p style="margin-top:10px; font-size:25px; text-align: center;" ><b>Suggestions</b></p>
            <p style="margin-top:20px; margin-left:10px; font-size:15px;">This course has a very extensive program, and given its
                duration (100 hours), it implies that it is not possible to delve into the points that are being touched on.
                It would be interesting to divide it into three courses: 1.- algorithms in Python; 2.- database management and web development in Python; 3.- data analysis and automation tasks.<br><br>
                The three courses would be introductory, since on the one hand, Python is an open source language that is growing a lot on the market, and on the other, the topics themselves are very extensive.<br><Br>
                As for the quizzes, I suggest that instead of doing just one at the end, you do a quiz every time a topic in the program is finished.<br><br>
                Both Nazareth Academy and Professor Kulhan would have an excellent opportunity to support Lanbide in bringing young people and professionals closer to Big Data, Machine Learning and Automation Tasks using Python.<br>
            </p>        
        </div>

        <div id="my_links" style="display:none;">
            <p style="margin-top:10px; font-size:25px; text-align: center;" ><b>Interesting links</b></p>
            <div style="width:95%; margin:auto; text-align: center; border-collapse: collapse;">
                <table style="width:100%; ">
                    <tr><td width="35%"><b>AREA</b></td><td width="65%"><b>LINKS</b></td></tr>
                </table>
            </div>
            <div style="width:95%; height:300px; overflow-y:scroll; margin:auto; text-align: center; border: 3px solid rgb(179, 178, 178); border-radius: 10px; border-collapse: collapse;">
                <table style="width:100%; border:1px solid rgb(179, 178, 178);">                    
                    <tr><td width="35%" style="border:1px solid rgb(179, 178, 178);">Multiprocessing</td><td width="65%" style="border:1px solid rgb(179, 178, 178);">brief<br>brief<br>brief<br>brief<br>brief<br></td></tr>
                    <tr><td width="35%" style="border:1px solid rgb(179, 178, 178);">Multiprocessing</td><td width="65%" style="border:1px solid rgb(179, 178, 178);">brief<br>brief<br>brief<br>brief<br>brief<br></td></tr>
                    <tr><td width="35%" style="border:1px solid rgb(179, 178, 178);">Multiprocessing</td><td width="65%" style="border:1px solid rgb(179, 178, 178);">brief<br>brief<br>brief<br>brief<br>brief<br></td></tr>
                    <tr><td width="35%" style="border:1px solid rgb(179, 178, 178);">Multiprocessing</td><td width="65%" style="border:1px solid rgb(179, 178, 178);">brief<br>brief<br>brief<br>brief<br>brief<br></td></tr>
                    <tr><td width="35%" style="border:1px solid rgb(179, 178, 178);">Multiprocessing</td><td width="65%" style="border:1px solid rgb(179, 178, 178);">brief<br>brief<br>brief<br>brief<br>brief<br></td></tr>
                    <tr><td width="35%" style="border:1px solid rgb(179, 178, 178);">Multiprocessing</td><td width="65%" style="border:1px solid rgb(179, 178, 178);">brief<br>brief<br>brief<br>brief<br>brief<br></td></tr>
                    <tr><td width="35%" style="border:1px solid rgb(179, 178, 178);">Multiprocessing</td><td width="65%" style="border:1px solid rgb(179, 178, 178);">brief<br>brief<br>brief<br>brief<br>brief<br></td></tr>

                </table>
            </div>
        </div>

        <div id="program" class="block_hide" style="display:none;">
            <p style="margin-top:5px; margin-bottom:0px; font-size: 25px; text-align: center;" ><b>Program</b></p>
            <p style="margin-top:0px;padding: 3px; color:blue; text-align: center; text-decoration: none;">
                <a href="https://drive.google.com/file/d/1ZuwE33-Emid-ArhcHrQhKrHE1klX_FS-/view?usp=sharing" target="_blank" >Click Here</a>
            </p>        
            <div style="text-align: center; margin: auto;"><img src="/static/Nazaret/ProgramaPython.jpg" width="80%" height="350px"></img></div>
        </div>

    </div>
    <script>
        document.getElementById('div_info').innerHTML = document.getElementById('the_experience').innerHTML;
    </script>




{% endblock %}