{% extends 'layout.html' %}

{% block body %}
    <h1 style="padding-left:20px; margin-top: 3px;">ABOUT THIS COURSE</h1>
    
    <div class="disp-rows-cent" style="width:100%; padding:10px; overflow: auto; border:10px solid rgb(190, 209, 250)">
        <div style="width:48%; height:70vh; padding:5px; border:3px solid rgb(219, 229, 251)">

            <table id="tableCourse" style="width:100%; height: 100%; border:none">
                <tr style="height:20%;">
                    <td style="width:70%;">
                        <a href="https://www.biography.com/scientists/alan-turing/" target="_blank">
                            <span style="font-size: 25px;">In honor of Alan Turing</span><br>
                            <span style="font-size: 15px;">Technology, Leadership, Teaching<br> and Financial Consulting</span></a>
                    </td>
                    <td style="width:30%;padding:2px;"><a href="https://www.biography.com/scientists/alan-turing/" target="_blank"><img class="myImg" src="/static/Teacher/Turing-01.jpg" alt="teacher" width="100" height="130"/></a></td>
                </tr>
                <tr style="height:80%"><td colspan="2" style="font-size: 20px;">Short Story<br>Short Story<br>Short Story<br>Short Story<br>Short Story</td></tr>                
            </table>
        </div>
        <div style="width:48%; height:70vh; padding:5px; overflow: auto; border:3px solid rgb(219, 229, 251)">
            <table style="width:100%; height: 100%;">
                <tr style="height:20%;">
                    <td style="width:70%; font-size: 40px;">NAZARET</td>
                    <td style="width:20%;"><a href="http://www.nazaret.eus/es/" target="_blank"><img class="myImg" src="/static/Nazaret/Nazaret-1.jpg" alt="teacher" width="200" height="100px"/></a></td>
                </tr>
                <tr style="height:80%">
                    <td colspan="2" style="text-align: left; padding:10px; font-size: 15px;">
                        <b>MÁS DE CIEN AÑOS APORTANDO VALOR SOCIAL A GIPUZKOA</b><br>
                        Actualmente participa activamente en el alcance de los objetivos establecidos en las políticas educativas, económicas, laborales, medioambientales y sociales.<br>
                        Su centro de Formación profesional y Formación para el empleo es referente en el desarrollo de planes formativos orientados a capacitar y acompañar a las personas en el aprendizaje de destrezas y habilidades profesionales y personales para los entornos de trabajo actuales y del futuro.<br>
                        Su Bachillerato Europeo (EBBD) es único en Gipuzkoa, y en general, es referente en la orientación y acompañamiento de los y las jóvenes para que avancen en destrezas y habilidades personales, digitales y lingüísticas, así como en el aprendizaje de las disciplinas científicas, sociales y humanísticas necesarias para lograr su proyecto de vida.<br>                        
                        Nazaret recientemente recibió el reconocimiento a la innovación en el sector educativo vasco 

                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}