{% extends 'layout.html' %}

{% block body %}
    <h1 style="text-align: center; font-size: 25px; margin-top: 3px;">PYTHON COURSE IN NAZARET ACADEMY</h1>
    <p style="text-align: center; font-size:15px;color:gray;">February - April, 2023</p>
    
    <div class="disp-rows-cent" style="width:100%; padding:10px; overflow: auto; border:10px solid rgb(190, 209, 250); border-radius: 10px;">
        <div style="width:48%; height:70vh; padding:5px; border:3px solid rgb(219, 229, 251)">
            <div>
                <table id="tableCourse" style="width:100%; height: 100%; border:none">
                    <tr style="height:20%;">
                        <td style="width:70%;">
                            <a title="biography" href="https://www.biography.com/scientists/alan-turing/" target="_blank">
                                <span style="font-size: 25px; color:blue;">In honor of Alan Turing</span><br>
                                <span style="font-size: 15px;">A lider over troubled waters</span></a>
                        </td>
                        <td style="width:30%;padding:2px;"><a title="biography" href="https://www.biography.com/scientists/alan-turing/" target="_blank"><img class="myImg" src="/static/Teacher/Turing-01.jpg" alt="teacher" width="100" height="130"/></a></td>
                    </tr>
                    <!-- <tr style="height:80%"><td colspan="2" style="font-size: 20px;">Short Story<br>Short Story<br>Short Story<br>Short Story<br>Short Story</td></tr>                 -->
                </table>
            </div>
            <div style="width: 90%; margin:auto; height: 28%; margin-top: 10px; padding: 4px; overflow:auto ;">
                Professor Kulhan developed a 
                <a href="https://docs.google.com/document/d/1XvFyC3xnEg6VGgrWOUcDmx1oNT6XALru59Kd0_SgGrk/" target="_blank" style="padding: 5px; color:blue; text-decoration: none;">Course Program</a> with an overview of the Python language. He presented us with different options that today can be used to process programs in the world of Big Data, as well as web page design and database management.<br>                
                In addition, practices were carried out with cloud applications such as google colaboratory, pythonanywhere, oracle, ....                
                <!-- <p style="text-align:center; margin-top: 5px;"><a href="https://docs.google.com/document/d/1XvFyC3xnEg6VGgrWOUcDmx1oNT6XALru59Kd0_SgGrk/" target="_blank" style="padding: 3px 15px 3px 15px;  font-size:12px; color:white; text-decoration: none; background-color: rgb(76, 76, 253); border-radius: 10px; ">Course Program</a></p>  -->
            </div>
            <hr style="border:3px;">
            <div class="disp-rows-cent" style="width: 90%; margin:auto; margin-top: 0px; padding: 4px; height: 32%; overflow: auto;">
                    <p>
                        <a style="margin-top:0px;" title="lanbide" href="https://www.lanbide.euskadi.eus/inicio-lanbide/" target="_blank"><img class="myImg" src="/static/img/LanbideLogo.jpg" alt="teacher" width="90" height="25"/></a>
                    </p>                
                    <p style="margin-top:0px; padding:0px;"><a title="lanbide" href="https://www.lanbide.euskadi.eus/inicio-lanbide/" target="_blank">Lanbide</a> is the Basque Employment Service that makes programs available to people to support them in the job search process, and is characterized by offering a Comprehensive and personalized Plan to each job seeker. This course is part of the resources that seek to strengthen the position of the student in the field of computing.
                    </p>                                           
            </div>

        </div>

        <div style="width:48%; height:70vh; padding:5px; overflow: auto; border:3px solid rgb(219, 229, 251)">
            <table style="width:100%; height: 100%;">
                <tr style="height:20%;">
                    <td style="width:70%; font-size: 30px;"><a href="http://www.nazaret.eus/es/" target="_blank">NAZARET</a></td>
                    <td style="width:20%;"><a href="http://www.nazaret.eus/es/" target="_blank"><img class="myImg" src="/static/Nazaret/Nazaret-1.jpg" alt="teacher" width="200" height="100px"/></a></td>
                </tr>
                <tr style="height:80%">
                    <td colspan="2" style="text-align: left; padding:10px; font-size: 15px;">
                        <b><center>MORE THAN ONE HUNDRED YEARS<br>PROVIDING SOCIAL VALUE TO GIPUZKOA</center></b><br>
                        Nazaret actively participates in the achievement of the objectives established in educational, economic, labor, environmental and social policies, and in this direction, it joins the programs promoted by the Basque Government through Lanbide.<br><br>                        
                        Its Training for Employment Center is a benchmark in the development of training plans aimed at training and accompanying young people and people of working age in learning professional and personal skills and abilities for current and future work environments. Its European High School is unique in Gipuzkoa.<br><br>                                              
                        Nazaret recently received recognition for innovation in the Basque educational sector.

                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}