{% extends 'layout.html' %}

{%  block body %}    

    <h1 style="text-align: center; margin-left:25px; margin-top: 3px; font-size:20px;  color:rgb(93, 92, 92)">Excercise {{ excercise.id }}, Author {{excercise.author}}, date {{excercise.date_created}}</h1>    
    <div class="disp-rows-cent"  style="width:100%; padding:5px; height:80vh; border:10px solid rgb(190, 209, 250)">
        <table style="width:90%; margin:3px; border: 1px solid rgb(208, 207, 207)">
            <tr>                
                <th style="width:15%"><a href="{{ excercise.source_url }}" target="_blank"><span style="color:green">section</span><br><span style="color:rgb(163, 23, 2)">"{{ excercise.section }}"</span></a></th>
                <th style="width:25%"><span style="color:green">title</span><br><span style="color:rgb(163, 23, 2)">"{{excercise.title}}"</span></a></th>                
                <th style="width:25%"><span style="color:green">script name</span><br><span style="color:rgb(163, 23, 2)">"{{ excercise.fileDirPath.split('/')[3] }}"</span></th>
                <th style="width:9%"><a href="{{excercise.code_url}}" target="_blank"><img class="myImg" onclick='' src="{{ url_for('static', filename='img/icons8-script-68.png') }}" title='Script code' alt="console-100" width="30"/></a></th>                
                <th style="width:9%"><a href="{{excercise.zip_url}}" target="_blank"><img class="myImg" onclick='ExecPythonScript()' src="{{ url_for('static', filename='img/icons8-descargar-de-la-nube-100.png') }}" title='Download py script' alt="download-100" width="30"/></a></th>                              

        <!--    
            LOOKiNG FOR function in js and in python that make it possible to call the window and then render the new web page.
                - WHEN working with <a> tag, all is done, but with the alert of JS 
                - Doing with a customized window using JS, then the web page is doesn't display
                - Working with SESSION variable in Python... Checking if the data pass to render-template process
        -->        

                <th style="width:9%"><img class="myImg" onclick='html_script_exec("{{excercise.fileDirPath1}}")' src="{{ url_for('static', filename='img/icons8-html-filetype-50.png') }}" title='Visualize the scrip execution in html format' alt="console-100" width="35"/></a></th>
           <!-- <th style="width:9%"><a href="/result_script_exec/?py_path={{excercise.fileDirPath1}}" target="_blank"><img class="myImg" onclick='alert("\n=====  PLEASE WAIT A BIT  =====\n\nWHILE THE SCRIPT RUNS IN THE BACKGROUND !")' src="{{ url_for('static', filename='img/icons8-html-filetype-50.png') }}" title='Visualize the scrip execution in html format' alt="console-100" width="35"/></a></th> -->
           <!-- <th style="width:9%"><a href="/result_script_exec/?py_path={{excercise.fileDirPath1}}" target="_blank"><img class="myImg" onclick='my_msg_window.render("ALERT","Please wait a bit while the script runs in the background !")' src="{{ url_for('static', filename='img/icons8-html-filetype-50.png') }}" title='Visualize the scrip execution in html format' alt="console-100" width="35"/></a></th>  -->
                <th style="width:9%; padding:10px;">
                    <img class="myImg" onclick='ExecPythonScript("{{excercise.fileDirPath}}")' src="{{ url_for('static', filename='img/icons8-consola-100.png') }}" title='= PLEASE CHECK CONSOLE TO SEE SCRIPT EXECUTION =' alt="console-100" width="30"/>
                    <!-- <span data-title='= PLEASE CHECK CONSOLE TO SEE SCRIPT EXECUTION =' ><img class="myImg" onclick='ExecPythonScript("{{excercise.fileDirPath}}")' src="{{ url_for('static', filename='img/icons8-consola-100.png') }}" alt="console-100" width="30"/></span> -->
                </th>                
            </tr>            
        </table>           
        
        <h4 style="text-align: center; width:95%; margin:auto; margin-top: 10px; padding-bottom: 5px;color:rgb(19, 1, 121); ">Description</h3> 
        <div style="width:90%; height:15%; margin: auto; border:2px solid rgb(190, 209, 250);">
            <textarea title='description' readonly style="width: 100%; height:100%; margin:0px; padding:10px; text-align: left; font-size: 16px; color:rgb(81, 81, 81); border:none; overflow-y:scroll;" >{{excercise.homework}}</textarea>
        </div>    

        <h4 style="text-align: center; width:95%; margin-top: 5px;  color:rgb(19, 1, 121); ">Ideas for solution</h4>          
        <div style="width:90%; height:55%; margin: auto; margin-top: 0px; ; padding: 2px; border:2px solid rgb(190, 209, 250);">
            <textarea title='hints' readonly style="width: 100%; height:100%; margin:0px; padding:10px; text-align: left; font-size: 18px; color:rgb(81, 81, 81); border:none; overflow-y:scroll" >{{excercise.body}}</textarea>    
        </div>         
    </div>

    <script>

        function delay(milliseconds){
            return new Promise(resolve => {
                setTimeout(resolve, milliseconds);
            });
        }

        function ExecPythonScript(py_path){
            /* alert('py script path: ' + py_path) */
            alert("\n=====  PLEASE CHECK YOUR SERVER CONSOLE  =====\n\n=====  SEE SCRIPT EXECUTION  ====="); 

            // go to pythonScript.html 
            var request = new XMLHttpRequest()
            request.open("GET", "/pythonScript/?py_path=" + py_path, true)            
            request.send()            
        }


        // https://stackoverflow.com/questions/44749605/xmlhttprequest-does-not-render-template-flask-javascript
        async function html_script_exec(py_path){

            // alert("\n=====  PLEASE WAIT A BIT  =====\n\nWHILE THE SCRIPT RUNS IN THE BACKGROUND !");
            
            my_msg_window.render("ALERT","Please wait a bit while the script runs in the background !");
            await delay(4000);

            // go to result_script_exec.html 
            myRequest(py_path);
            
        }

        function myRequest(py_file) {
            console.log("==== from myRequest: py_file => " + py_file)
            document.getElementById ( 'msgBox' ).style.display = "none"; 
            document.getElementById ( 'msgOverLay' ).style.display = "none";
            
            var request = new XMLHttpRequest()
            request.open("GET", "/result_script_exec/?py_path=" + py_file, true)            
            request.onreadystatechange = function() {
                if(request.readyState == XMLHttpRequest.DONE && request.status == 200) {
                    window.location.href = '/result_script_html';
                }
            }                                    
            // request.open("GET", "/result_script_data/?py_path=" + py_path, true)           
            request.send()  
        }

    </script>

{% endblock %}