<!--
check if 'cancel' button was clicked
     https://stackoverflow.com/questions/20009105/how-can-you-tell-when-user-clicked-cancel-from-a-javascript-prompt-with-a-defa
     http://www.javascripter.net/faq/canceled.htm
     https://www.codecademy.com/forum_questions/53ba8ab7548c35a5c7000ade#:~:text=To%20detect%20the%20Cancel%20button,from%20the%20prompt()%20function.&text=response%20will%20be%20null%20on,false%2C%20as%20does%2C%20null%20.
-->


{% extends 'layout.html' %}

{% block body %}
    <h1 style="text-align: center; margin-left:25px; margin-top: 3px; font-size:20px;  color:rgb(93, 92, 92)">Excercise {{ excercise.id }}, Author {{excercise.author}}, date {{excercise.date_created}}</h1>
    <div class="jumbtron text-center">

        <p style="text-align: center; margin-top:20px;"><span style="color:green"><b>script name</b></span><br><b><span style="color:rgb(163, 23, 2)">{{excercise.fileDirPath.split('/')[3]}}</span></b></p>
   
        <button style="padding:3px 6px" onclick='input_worker_data("{{excercise.fileDirPath1}}")'>Input worker Info</button>
        
        <p id="demo"></p>
    </div>
        
    <script>

        let moreData = true;
        let py_temp_path = ""
        let workers = [];
        let worker_name = "";
        let worker_age = "";
        let regExp = /[a-zA-Z]/g;    

        function Y_N(){
            
            let ans = prompt("Do you want to continue including workers? (Y,N):");  
            console.log("Answer -> " + ans)
            if ( ans == 'Y') {
                // save worker info
                input_worker_data(py_temp_path)
            } else {
                moreData = false;
            }    
        }   
        
        function input_worker_age(msg) {
            //alert("upsssss function not defined yet...")
            let age = prompt(msg);  
            
            if ( isNaN(parseInt(age)) || ( parseInt(age) < 0 ) || ( parseInt(age) > 115 ) ) {
                input_worker_age("Please remember age must be in (0,115) interval")
            } else {                
                console.log("---> the worker's age has been saved: " + parseInt(age))
                workers.push(age)
                console.log("---> worker array: " + workers)
                Y_N();
            }
        }

        function input_worker_name(msg) {
            
            let name = prompt(msg);  

            // name input

            if ( !name ) {
                console.log("Bye bye ....");
            } else {
                if(regExp.test(name)) {
                    worker_name= name;
                    console.log("---> the worker's name has been saved: " + name);
                    input_worker_age("Please enter worker age: ");
                } else {
                    input_worker_data(py_path,"Please remember that you have to enter a name !");      
                }
            }
        }

        
        function input_worker_data(py_path) {

            py_temp_path = py_path;
            msg = "Please enter worker name: ";
            console.log("---> in request process with param: " + py_path); 
 
            while (moreData) {         
                input_worker_name(msg);
            }

            console.log("---> final worker array: " + workers);
            
            // https://www.geeksforgeeks.org/pass-javascript-variables-to-python-in-flask/
            var request = new XMLHttpRequest()
            request.open("GET", "/result_script_exec/?py_path=" + py_path, true)            
            request.onreadystatechange = function() {
                if(request.readyState == XMLHttpRequest.DONE && request.status == 200) {
                    window.location.href = '/result_script_html';
                }
            }   
            request.send()
            
        }

        
//        let regExp = /[a-zA-Zñáéíóúü]/g;    

        /*        
        let workers = []
        let worker_name = ""
        let worker_age = ""
        let regExp = /[a-zA-Z]/g;    
        //let regExp = /[a-zA-Zñáéíóúü]/g;    
        */
        





    
    </script>    
{% endblock %}

