{% extends 'foods-layout-admin.html' %}

{% block body %}
    <div class="jumbtron text-center disp-row-cent">
        
        <img src="/static/img/urrutia.jpg" style="margin-top:40px;border-radius: 10px; border:3px solid rgb(102, 102, 250)" alt="urrutia-01" width="120"/>        

        <div class="disp-row-cent" style="width:300px; text-align: center; margin:auto; margin-top: 30px; padding: 20px; border:5px solid rgb(197, 196, 196)">            
            <p style="color:rgb(138, 2, 2)"><b>Plato a ser incluido en el Menú</b></p>
            <form action="{{url_for('foods_reg_insert')}}" method="POST">
                <label for="fTipo">Tipo</label><br>
                <input type="text" id="fTipo" name="fTipo"><br>
                <label for="fNombre">Nombre</label><br>
                <input type="text" id="fNombre" name="fNombre"><br>
                <label for="fPrecio">Precio</label><br>
                <input type="text" id="fPrecio" name="fPrecio"><br><br>
                <input type="submit" value="Submit">
              </form> 
        </div>       

        <div class="disp-row-cent" style="margin-top:30px; font-size:18px; color:gray;">
            <a href="/foods_home_admin">Regresar Admin</a>
        </div>

    </div>
{% endblock %}
