{% extends 'foods-layout-admin.html' %}

{% block body %}

    <div class="jumbtron text-center disp-row-cent">
        
        <img src="/static/img/urrutia.jpg" style="margin-top:40px;border-radius: 10px; border:3px solid rgb(102, 102, 250)" alt="urrutia-01" width="120"/>        
        <div class="disp-row-cent"  style="width:60%; max-height:400px; overflow-y: auto; text-align: center; margin:auto; margin-top: 30px; padding: 20px; border:5px solid rgb(197, 196, 196)">            
            
            <table style="width:100%;">
                <tr style="border-bottom: 1px solid gray">
                    <th>Tipo</th><th style="width:25%">nombre</th><th>precio</th><th>disp</th><th>edit</th><th>elim</th>
                </tr>
                {% for plato in platos %}
                <tr>
                    <td>{{plato.id}} - {{plato.tipo}}</td>
                    <td>{{plato.nombre}}</td>
                    <td>{{plato.precio}}</td>
                    {% if plato.disp %}
                        <td>SI</td>
                    {% else %} 
                        <td>SI</td>
                    {% endif %}
                    
                    <td><a href="{{url_for('foods_reg_update',uid=plato.id)}}">edit</a></td>                                      
                    <td><a href="{{url_for('foods_reg_delete',uid=plato.id)}}"><img width="25px" height="30px" src="/static/img/icons8-trash-32.png" ></a></td>
                </tr>
                {% endfor %}
            </table>
            
        </div>    

        <div class="disp-row-cent" style="margin-top:30px; font-size:18px; color:gray;">
            <a href="/foods_home_admin">Regresar Admin</a>
        </div>

    </div>

    {% endblock %}
