{% extends 'layout.html' %}

{% block body %}
    <div class="jumbtron text-center">
        <h1 style="text-align: center; margin-top: 50px; color:blue;">Ongi etorri to iggPyBlog</h1>
        <p class="lead" style="margin-top:50px;">
            This blog is about the pleasant experience of learning Python<br>from a good Teacher guidance and exchange with the classmates<br>of the course received at the Nazareth Academy, in the period february - april 2023
        </p>
        <img src="/static/img/ame-01.jpg" style="margin-top:20px;border-radius: 10px; border:3px solid rgb(102, 102, 250)" alt="ame-01" width="200"/>        
    </div>
{% endblock %}

