{% extends 'layout.html' %}

{%  block body %}    

    <h1 style="text-align: center; margin-left:25px; margin-top: 3px; font-size:25px;  color:rgb(93, 92, 92)">Life Game Script {{ lg_script.id }}, Author {{lg_script.author}}, date {{lg_script.date_created}}</h1>    
    <div class="disp-rows-cent"  style="width:100%; padding:5px; height:80vh; border:10px solid rgb(162, 205, 251); border-radius: 10px;">
        <table style="width:90%; margin:3px; border: 1px solid rgb(208, 207, 207)">
            <tr>                
                <th><a href="{{ lg_script.source_url }}" target="_blank"><span style="color:green">section</span><br><span style="color:rgb(163, 23, 2)">"{{ lg_script.section }}"</span></a></th>
                <th><span style="color:green">title</span><br><span style="color:rgb(163, 23, 2)">"{{lg_script.title}}"</span></a></th>                
                <th><span style="color:green">script name</span><br><span style="color:rgb(163, 23, 2)">"{{ lg_script.fileDirPath.split('/')[3] }}"</span></th>
                <th><img class="myImg" onclick='' src="{{ url_for('static', filename='img/icons8-flow-chart-64.png') }}" title='Zoom flow chart' alt="console-100" width="30"/></th>                
                <th><a href="{{lg_script.zip_url}}" target="_blank"><img class="myImg" onclick='ExecPythonScript()' src="{{ url_for('static', filename='img/icons8-descargar-de-la-nube-100.png') }}" title='Download py script' alt="download-100" width="30"/></a></th>                              
                <th style="padding:10px;">
                    <img class="myImg" onclick="ExecPythonScript('{{lg_script.fileDirPath}}')" src="{{ url_for('static', filename='img/icons8-consola-100.png') }}" title='Run in command line console' alt="console-100" width="30"/>
                </th>                
            </tr>            
        </table>           
        
        <h4 style="text-align: center; width:95%; margin:auto; margin-top: 10px; padding-bottom: 5px;color:rgb(19, 1, 121); ">Problem Statement</h3> 
        <div style="width:90%; height:20%; margin: auto; border:2px solid rgb(190, 209, 250);">
            <textarea title='problem description' readonly style="width: 100%; height:100%; margin:0px; padding:10px; text-align: left; font-size: 15px; color:rgb(81, 81, 81); border:none; overflow-y:scroll;" >{{lg_script.homework}}</textarea>    
        </div>    

        <h4 style="text-align: center; width:95%; margin-top: 5px;  color:rgb(19, 1, 121); ">Scheme for solution</h4>          
        <div style="width:90%; height:50%; margin: auto; padding: 2px; border:2px solid rgb(190, 209, 250);">
            <textarea title='problem description' readonly style="width: 100%; height:100%; margin:0px; padding:10px; text-align: left; font-size: 15px; color:rgb(81, 81, 81); border:none; overflow-y:scroll" >{{lg_script.body}}</textarea>    
        </div>         
    </div>

    <script>

        function ExecPythonScript(py_path){
            /* alert('py script path: ' + py_path) */
            
            var request = new XMLHttpRequest()
            request.open("GET", "/pythonScript/?py_path=" + py_path, true)            
            request.send()            
        }

    </script>

{% endblock %}