{% extends 'layout.html' %}

{% block body %}
  <h1 style="margin-left:15px; margin-top: 3px; color:rgb(26, 136, 252);">Game of Life Project</h1>
  <div class="disp-cols-cent"  style="height:78vh; width:80%; margin:auto; overflow: auto; border:10px solid rgb(162, 205, 251); border-radius: 10px;">    
    <ul class="list-group">
      {% for lg_script in lg_scripts %}
        <li class="list-group-item" style="margin-top:2px; padding:4px; border:none; ">
          <table class="tableWithBorders tblBGC_Bl_Light" style="text-align: left; border:none;">
            <tr>
              <td rowspan="3">
                <a style="color:#ffffff; font-size: 14px;" href="project-LifeGame_script/?id={{lg_script.id}}"><span style="font-size:17px; color:white;">{{lg_script.id}} - {{lg_script.author}}</span><br><span style="color:white; font-size: 11px;">{{lg_script.date_created}}</span></a>                
              </td>
              <td style="font-size: 14px; padding-top:7px; padding-left:5px;"><a style="color:white; font-size: 14px;" href="project-LifeGame_script/?id={{lg_script.id}}">section "{{lg_script.section}}":  {{lg_script.title}}</a></td>                        
              <td></td>
            </tr>
            <tr>                                         
              <td style="width:80%; text-align:center; font-size:20px; color:black ">{{lg_script.homework}}</td>
              <!-- <td style="width:80%; text-align:center; font-size:15px; color:white; "><textarea readonly style="width:100%; height:40px; padding-left:10px; border:1px solid white; background-color: transparent;">{{lg_script.homework}}</textarea></td> -->
            </tr>
          </table>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}