{% extends 'layout.html' %}

{% block body %}
  <h1 style="text-align: center; margin-top: 5px; color:rgb(26, 136, 252);">
    <span data-title='game_life_article'><a href="https://medium.com/codesphere-cloud/building-conways-game-of-life-in-javascript-ab07dc7c1950" target="_blank"><img class="myImg" src="/static/img/LifeGame.jpg" width="40px" height="35px" style="margin-right: 15px; border: 1px solid gray; border-radius: 5px;"></a></span>
    Game of Life Project
    <span data-title='game_life_video'><a href="https://conwaylife.com/" target="_blank"><img class="myImg" src="/static/img/icons8-video-50.png" alt="enigma_machine" width="35px" height="35px" style="margin-left: 15px; border: 1px solid gray; border-radius: 5px;"></a></span>
  </h1>
  <div class="disp-cols-cent"  style="max-height:75vh; width:80%; margin:auto; padding:3px; overflow: auto; border:10px solid rgb(162, 205, 251); border-radius: 10px;">    
    <ul class="list-group"style="max-height:68vh;">
      {% for lg_script in lg_scripts %}
        <li class="list-group-item" style="margin-top:3px; padding:4px; border:none; ">
          <table class="tableWithBorders tblBGC_Bl_Light" style="text-align: left; border:none;">
            <tr>
              <td rowspan="3">
                <a style="color:#ffffff; font-size: 14px;" href="project-LifeGame_script/?id={{lg_script.id}}"><span style="font-size:17px; color:white;">{{lg_script.id}} - {{lg_script.author}}</span><br><span style="color:white; font-size: 11px;">{{lg_script.date_created}}</span></a>                
              </td>
              <td style="font-size: 14px; padding-top:7px; padding-left:5px;"><a style="color:white; font-size: 14px;" href="project-LifeGame_script/?id={{lg_script.id}}">section "{{lg_script.section}}":  {{lg_script.title}}</a></td>                        
              <td></td>
            </tr>
            <tr>                                         
              <td style="width:80%; text-align:center; font-size:20px; color:black ">{{lg_script.homework}}</td>
              <!-- <td style="width:80%; text-align:center; font-size:15px; color:white; "><textarea readonly style="width:100%; height:40px; padding-left:10px; border:1px solid white; background-color: transparent;">{{lg_script.homework}}</textarea></td> -->
            </tr>
          </table>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}